.code-block {
    background-color:rgb(240, 240, 240);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: small;
}

.figcap {
    font-size: small;
    color: grey;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }